@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    12175 Visionary Way<br />
    Fishers, IN 46038<br />
    <abbr title="Phone">P:</abbr>
    317.555.1150
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:LawnscapeSupport@gmail.com">LawnscapeSupport@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:LawnscapeMarketing@example.com">LawnscapeMarketing@example.com</a>
</address>